<div id="popup" class="modal">
    <div class="modal-content">
        <span class="close">&times;</span>
        <h1> {{title}}</h1>
        <p>
            {{content}}
        </p>
    </div>
</div>