@page
@model Reversi.Pages.ChangeModel
@{
    ViewData["Title"] = "Change password page";
}



<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
<div class="form-gap"></div>
<div class="container">
    <div class="row justify-content-center align-items-center" style="height:300px">
        <div class="col-md-4 col-md-offset-4">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="text-center">
                        <div class="panel-body">
                            @if (ViewData["msg"] != null || ViewData["msg"] != "")
                            {
                                <p>@ViewData["msg"]</p>
                            }
                            else
                            {
                                <p>Voer een nieuw wachtwoord in</p>
                            }
                            <form id="register-form" role="form" autocomplete="off" class="form" method="post">
                                <div class="form-group">
                                    <label for="password">Wachtwoord *</label>
                                    <input type="password" class="form-control" name="Password1" id="password">
                                </div>
                                <div class="form-group">
                                    <label for="password2">Herhaal wachtwoord *</label>
                                    <input type="password" class="form-control" name="Password2" id="password">
                                </div>
                                <div class="form-group">
                                    <input name="reset" value="Verander wachtwoord" class="btn btn-lg btn-primary btn-block" type="submit">
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
